{% extends "base.html.twig" %}

{% block title %}Lambda Program{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-reset.css') }}" rel="stylesheet">
    <!--external css-->
    <link href="{{ asset('assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
    <!-- coming soon styles -->
    <link href="{{ asset('css/soon.css') }}" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style-responsive.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <body class="">
        bevenuto
    </body>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}