{% extends "base.html.twig" %}

{% block title %}Lambda Program{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-reset.css') }}" rel="stylesheet">
    <!--external css-->
    <link href="{{ asset('assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
    <!-- coming soon styles -->
    <link href="{{ asset('css/soon.css') }}" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style-responsive.css') }}" rel="stylesheet" />
    <style>
    html, body {height:100%;}
    .bckg-image {background-image: url('{{ asset('image/coming_son_2.jpeg') }}');height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;}
    </style>
{% endblock %}

{% block body %}
    <body class="bckg-image">
        <!-- START HEADER -->
        <section id="header">
            <div class="container">
                <header>
                    <!-- HEADLINE -->
                    <a class="logo floatless " href="#">LAMBDA<span>PROGRAM</span></a>
                    <h2 class="mt-3">In arrivo...</h2>
                    <br/>
                    {#<p> Stai pronto a tutto </p>#}
                </header>
                <!-- START TIMER -->
                <div id="timer" data-animated="FadeIn">
                    <p id="message"></p>
                    <div id="days" class="timer_box"></div>
                    <div id="hours" class="timer_box"></div>
                    <div id="minutes" class="timer_box"></div>
                    <div id="seconds" class="timer_box"></div>
                </div>
                <!-- END TIMER -->
            </div>
        </section>
        <!-- END HEADER -->
    </body>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('js/soon/plugins.js') }}"></script>
    <script src="{{ asset('js/soon/custom.js') }}"></script>
{% endblock %}